@font-face {
  font-family: 'Branding-Bold';
  src: url('src/fonts/BrandingSF-Bold.ttf') ;
}
@font-face {
  font-family: 'Branding-Light';
  src: url('src/fonts/BrandingSF-Light.ttf') ;
}
@font-face {
  font-family: 'Branding-Medium';
  src: url('src/fonts/BrandingSF-Medium.ttf') ;
}
@font-face {
  font-family: 'Branding-SemiBold';
  src: url('src/fonts/BrandingSF-SemiBold.ttf') ;
}
@font-face {
  font-family: 'Branding-SemiLight';
  src: url('src/fonts/BrandingSF-SemiLight.ttf') ;
}
@font-face {
  font-family: 'Branding-Thin';
  src: url('src/fonts/BrandingSF-Thin.ttf') ;
}
.navPublicidad{
  height: auto;
  background-image: url('https://humanopuntocero.s3.amazonaws.com/retoPatron2024/mazatlanNav.jpg');
  background-position: center;
  background-size: cover;
}
.navSombra2{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.362);
  position: absolute;
  height: 365px;
  z-index: 1;
}
.navSombra{
  position: relative;
  z-index: 2;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navLogos{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  padding-top: 10px;
  align-items: center;
}

.navImg1{
  width: 80px;
  height: 80px;
  background-image: url('https://humanopuntocero.s3.amazonaws.com/retoPatron2024/logoSetylsa.png');
  background-position: center;
  background-size: cover;
}
.navImg2{
  width: 80px;
  height: 80px;
  background-image: url('https://humanopuntocero.s3.amazonaws.com/retoPatron2024/logoGuardianes.png');
  background-position: center;
  background-size: cover;

}
.navImg3{
  width: 80px;
  height: 80px;
  background-image: url('https://humanopuntocero.s3.amazonaws.com/retoPatron2024/logoSeguridadVial.png');
  background-position: center;
  background-size: cover;
}
.navImg4{
  width: 110px;
  height: 80px;
  background-image: url('https://humanopuntocero.s3.amazonaws.com/retoPatron2024/logoLala.png');
  background-position: center;
  background-size: cover;
}

.navTitulos{
  display: flex;
  justify-content:space-between;
  align-items: center;
  letter-spacing: 0.1em;
  font-family: 'Branding-Bold';
  width:100%;
}
.navTitulos h3{
  font-family: 'Branding-SemiLight';
  font-size: 20px;
}

@media screen and (max-width:637px) {
  .navTitulos{
    flex-direction: column;
    text-align: center;
   
  }
  .navSombra2{
    height: 495px;
  }

}


@media screen and (max-width:450px) {

  .navImg1{
    width: 20%; 
    height: 25px;
   
  }
  .navImg2{
    width: 20%; 
    height: 25px;
 
  }
  .navImg3{
    width: 20%; 
     height: 25px;
  
  }
  .navImg4{
    width: 20%; 
    height: 50px;
  }
  .navSombra2{
    height: 500px;
  }
}