.ViContenedor{
    max-width: 1200px;
    margin: 0 auto;
    color: black;
}
.ViContenedor h1{
    text-align: center;
   font-weight: normal;
}
.ViContenedorVideo{
    margin: 20px;
}
.ViContenedorVideo video{
    width: 100%;
}

.ViContenedorButton {
    margin-top: 20px;
    text-align: center;
}
.ViContenedorButton a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(41, 140, 115);
    border: solid rgba(30, 77, 90, 0.834);
}

.ViContenedorButton a:hover{
    background-color: rgb(74, 94, 98);
}


@media screen and (max-width:509px) {
    .ViContenedor h1{
        font-size: 25px;
    }

}
