
.navGeneral{
    background-color: #37586b89;
    display: flex;
    justify-content:space-between;
  width: 100%;
  align-items: center;
}

.navContenedorDiv img{
    width: 90%;
    height: 100px;
}
.navLista{
    display: flex;
    align-items: center;
    padding-right: 40px;
    justify-content: center;
}
.navLista a{
  cursor: pointer;

  text-decoration: none;
  margin: 5px; 
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;


}
.navLista li {
  list-style: none;
  cursor: pointer;

  text-decoration: none;
  margin: 5px; 
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.navLista li:hover{
   border-bottom: 2px solid white;
   transition-duration: all 0.5s;
   list-style: none;
 }
 .navContenedorDiv{
    padding: 15px;
 }

 .navLista h3{
  border-bottom: 2px solid white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}


@media screen and (max-width:407px) {

  .navContenedorDiv img{
    width: 90%;
    height: 60px;
  }
  .navLista h3{
    font-size: 13px;
    text-align: center;
  }
}