
@font-face {
  font-family: 'Branding-Bold';
  src: url('/fonts/BrandingSF-Bold.ttf') ;
}
@font-face {
  font-family: 'Branding-Light';
  src: url('/fonts/BrandingSF-Light.ttf' ) ;
}
@font-face {
  font-family: 'Branding-Medium';
  src: url('/fonts/BrandingSF-Medium.ttf') ;
}
@font-face {
  font-family: 'Branding-SemiBold';
  src: url('/fonts/BrandingSF-SemiBold.ttf');
}
@font-face {
  font-family: 'Branding-SemiLight';
  src: url('/fonts/BrandingSF-SemiLight.ttf') ;
}
@font-face {
  font-family: 'Branding-Thin';
  src: url('/fonts/BrandingSF-Thin.ttf');
}
.navGeneral{
    background-color: #37586b89;
    display: flex;
    justify-content:space-between;
  width: 100%;
  align-items: center;
}
.navGeneral h3{
  font-family: 'Branding-SemiLight';
}

.navContenedorDiv img{
    width: 90%;
    height: 100px;
}
.navLista{
    display: flex;
    align-items: center;
    padding-right: 40px;
    justify-content: center;
}
.navLista a{
  cursor: pointer;

  text-decoration: none;
  margin: 5px; 
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;


}
.navLista li {
  list-style: none;
  cursor: pointer;

  text-decoration: none;
  margin: 5px; 
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.navLista li:hover{
   border-bottom: 2px solid white;
   transition-duration: all 0.5s;
   list-style: none;
 }
 .navContenedorDiv{
    padding: 15px;
 }

 .navLista h3{
  border-bottom: 2px solid white;
  font-weight: normal;

}


@media screen and (max-width:407px) {

  .navContenedorDiv img{
    width: 90%;
    height: 60px;
  }
  .navLista h3{
    font-size: 13px;
    text-align: center;
  }
}