
.navGeneral{
    background-color: #37586b89;
    display: flex;
    justify-content:space-between;
  width: 100%;
}

.navContenedorDiv img{
    width: 90%;
    height: 100px;
}
.navLista{
    display: flex;
    align-items: center;
    padding-right: 40px;
}
.navLista li{
   cursor: pointer;
  list-style: none;
  margin: 10px;
}
.navLista li:hover{
   border-bottom: 2px solid white;
   transition-duration: all 0.5s;
 }
 .navContenedorDiv{
    padding: 15px;
 }
