.InfoContenedorGeneral{
    width: 100%;
    height: auto;
    
}
.InfoTexto{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 20px;
    text-align: justify;
    border: solid 2px #5f4c4c4c;
  
}
.InfoTexto h2{
   text-align: center;
    color: #104474dc
}

.InfoTexto p,h2,li{
    color: black;
   
}
.InfoImportante p{
    text-align: center;
  color: rgb(194, 38, 38);
  font-size: 20px;
   
}