@font-face {
    font-family: 'Branding-Bold';
    src: url('src/fonts/BrandingSF-Bold.ttf') ;
  }
  @font-face {
    font-family: 'Branding-Light';
    src: url('src/fonts/BrandingSF-Light.ttf') ;
  }
  @font-face {
    font-family: 'Branding-Medium';
    src: url('src/fonts/BrandingSF-Medium.ttf') ;
  }
  @font-face {
    font-family: 'Branding-SemiBold';
    src: url('src/fonts/BrandingSF-SemiBold.ttf') ;
  }
  @font-face {
    font-family: 'Branding-SemiLight';
    src: url('src/fonts/BrandingSF-SemiLight.ttf') ;
  }
  @font-face {
    font-family: 'Branding-Thin';
    src: url('src/fonts/BrandingSF-Thin.ttf') ;
  }

.InfoContenedorGeneral{
    width: 100%;
    height: auto;
    
}
.InfoTexto{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 20px;
    text-align: justify;
    border: solid 2px #5f4c4c4c;
   
  
}
.InfoTexto h2{
   text-align: center;
    color: #104474dc;
    font-family:'Branding-SemiBold' ;
}

.InfoTexto p,h2,li{
    color: black;
    font-family:'Branding-Medium' ;
   
}
.InfoImportante p{
    text-align: center;
  color: rgb(194, 38, 38);
  font-size: 20px;
   
}