@font-face {
    font-family: 'Branding-Light';
    src: url('src/fonts/BrandingSF-Light.ttf') ;
  }
  @font-face {
    font-family: 'Branding-Medium';
    src: url('src/fonts/BrandingSF-Medium.ttf') ;
  }
  @font-face {
    font-family: 'Branding-SemiBold';
    src: url('src/fonts/BrandingSF-SemiBold.ttf') ;
  }
  @font-face {
    font-family: 'Branding-SemiLight';
    src: url('src/fonts/BrandingSF-SemiLight.ttf') ;
  }
  @font-face {
    font-family: 'Branding-Thin';
    src: url('src/fonts/BrandingSF-Thin.ttf') ;
  }
.SeContendor{
    width: 40%;
    background-color:  #102C4E;
    height: 432px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
.SeContendor h3{
   text-align: center;
   font-family: 'Branding-SemiBold';
}
.SeFormulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.SeFormulario label {
  font-family: 'Branding-SemiLight';
}
.SeFormulario input{
    height: 20px;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
    width: 50%;
    font-family: 'Branding-SemiLight';
}
.SeError{
    color: rgb(238, 238, 238);
    margin: 0px;
    font-weight: lighter;
    background-color: rgba(240, 6, 6, 0.665);
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Branding-SemiLight';
   
}
.SeButton{
    width: auto;
    background-color: #7b7b7b;
    font-size: 17px;
    border-radius: 5px;
    padding: 10px;
    letter-spacing: 1.2px;
    cursor: pointer;
    font-family: 'Branding-SemiLight';
}
.SeButton:hover{
   
  background-color: #7b7b7bc3;
  
}
.SeAlertaError{   
    background-color: rgba(240, 6, 6, 0.665);
    font-family: 'Branding-SemiLight';
   
    padding: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 652px) {
 
 
    .SeContendor{
        width: 90%;
        height: auto;
        padding: 10px;
    }
  
  }