.GalContenedorGeneral{
    height: auto;
    padding: 20px 0;
   
}

.GalContenedor{
    max-width: 1200px;
    margin: 0 auto;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* imagenes */
.GalImg1{
    width: 20%;
    height: 150px;
    background-image: url('https://images.pexels.com/photos/18221948/pexels-photo-18221948/free-photo-of-caspio.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.GalImg2{
    width: 20%;
    height: 150px;
    background-image: url('src/assets/image_Galeria/galeriaimg3.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.GalImg3{
    width: 20%;
    height:150px;
    background-image: url('src/assets/image_Galeria/galeriaimg2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.GalImg4{
    width: 20%;
    height: 150px;
    background-image: url('src/assets/image_Galeria/galeriaimg1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

@media screen and (min-width: 425px) and (max-width:  852px) {
    .GalContenedor{
      justify-content: space-around;
    }
    .GalImg1{
        width: 23%;
     
    }

    .GalImg2{
        width:23%;
     
    }

    .GalImg3{
        width: 23%;
     
    }
    .GalImg4{
        width: 23%;
     
    }


  }
  
  @media screen and (max-width: 425px){
    .GalContenedor{
        flex-direction: column;
      justify-content: space-around;
      gap: 4px;
    }
    .GalImg1{
        width: 90%;
     
    }

    .GalImg2{
        width: 90%;
     
    }

    .GalImg3{
        width: 90%;
     
    }
    .GalImg4{
        width: 90%;
     
    }


  }